<h2>Cadastrar Imóvel</h2>

<div>
    <label> Proprietario:
        <input placeholder="Insira o id do Proprietario" [(ngModel)]="request.idProprietario">
    </label>
    <br><br>
    <label> Endereço:
        <input placeholder="Insira o endereco" [(ngModel)]="request.endereco">
    </label>
    <br><br>
    <label> Area Terreno:
        <input placeholder="Insira a area do terreno" [(ngModel)]="request.areaTerreno">
    </label>
    <br><br>
    <label> Area Construida:
        <input placeholder="Insira a area construida" [(ngModel)]="request.areaConstruida">
    </label>
    <br><br>
    <label> Aliquota:
        <input placeholder="Insira a aliquota" [(ngModel)]="request.aliquota">
    </label>
    <br><br>
    <label> Venal Terreno:
        <input placeholder="Insira o valor venal do terreno" [(ngModel)]="request.venalTerreno">
    </label>
    <br><br>
    <label> Venal Construcao:
        <input placeholder="Insira o valor venal de construcao" [(ngModel)]="request.venalConstrucao">
    </label>
    <br><br>
    <label> Aliquota Aplicada:
        <input placeholder="Insira a aliquota aplicada" [(ngModel)]="request.aliquotaAplicada">
    </label>
    <br><br>
    <button (click)="save()">Enviar</button>
</div>

<br><br>

<div *ngIf="imovel">
    <h3>Criado com sucesso!</h3>
    <label>Id: {{imovel.id}}</label>
    <br>
    <label>Nome: {{imovel.nome}}</label>
    <br>
    <label>Endereco: {{imovel.endereco}}</label>
    <br>
    <label>Area Terreno: {{imovel.areaTerreno}}</label>
    <br>
    <label>Area Construida: {{imovel.areaConstruida}}</label>
    <br>
    <label>Area Total: {{imovel.areaTotal}}</label>
    <br>
    <label>Aliquota: {{imovel.aliquota}}</label>
    <br>
    <label>Venal Terreno: {{imovel.venalTerreno}}</label>
    <br>
    <label>Venal Construcao: {{imovel.venalConstrucao}}</label>
    <br>
    <label>Venal Total: {{imovel.venalTotal}}</label>
    <br>
    <label>Aliquota Aplicada: {{imovel.aliquotaAplicada}}</label>
    <br>
    <label>Imposto: {{imovel.imposto}}</label>
    <br>
</div>