<h2>Cadastrar proprietario</h2>

<div>
    <label> Nome:
        <input placeholder="Insira o nome" [(ngModel)]="request.nome">
    </label>
    <br><br>
    <label> Endereço:
        <input placeholder="Insira o nome" [(ngModel)]="request.endereco">
    </label>
    <br><br>
    <button (click)="save()">Enviar</button>
</div>

<br><br>

<div *ngIf="proprietario">
    <h3>Criado com sucesso!</h3>
    <label>Id: {{proprietario.id}}</label>
    <br>
    <label>Nome: {{proprietario.nome}}</label>
    <br>
    <label>Endereco: {{proprietario.endereco}}</label>
</div>